flows.json
[{"id":"92e0141.93c04e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"200c21a0.7c65ee","type":"ui_form","z":"92e0141.93c04e8","name":"","label":"","group":"6d9f349e.92355c","order":2,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dc","type":"date","required":true,"rows":null},{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"se","type":"text","required":true,"rows":null},{"label":"offerType","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearOfRegistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"rd","type":"text","required":true,"rows":null},{"label":"dateCreated","value":"da","type":"date","required":true,"rows":null},{"label":"nrOfPictures","value":"pi","type":"number","required":true,"rows":null},{"label":"postalCode","value":"po","type":"number","required":true,"rows":null},{"label":"lastSeen","value":"ls","type":"date","required":true,"rows":null}],"formValue":{"dc":"","na":"","se":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","km":"","mr":"","ft":"","br":"","rd":"","da":"","pi":"","po":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":420,"wires":[["575df703.6a7828"]]},{"id":"f63156a8.caca58","type":"inject","z":"92e0141.93c04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["575df703.6a7828"]]},{"id":"575df703.6a7828","type":"function","z":"92e0141.93c04e8","name":"","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"da\",msg.payload.dc)\nglobal.set(\"pi\",msg.payload.pi)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"W8Zam7pdTynWrUoAyGSOVi-zfM6aZZYFZPqsLfx8At60\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["60bdb4f.c848a4c"]]},{"id":"60bdb4f.c848a4c","type":"http request","z":"92e0141.93c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["efe2477d.78a4e8"]]},{"id":"efe2477d.78a4e8","type":"function","z":"92e0141.93c04e8","name":"","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar rd = global.get('rd')\nvar da = global.get('da')\nvar pi = global.get('pi')\nvar po = global.get('po')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"d7288f58-b2f8-42ef-8735-0f0721f875d2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"],\"values\": [[dc,na,se,ot,at,vt,yr,gb,pp,mo,km,mr,ft,br,rd,da,pi,po,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["9b6e76e5.73cdb8"]]},{"id":"9b6e76e5.73cdb8","type":"http request","z":"92e0141.93c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/62b827c9-5d5e-4c69-9d69-cdd9242897e0/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":730,"y":420,"wires":[["da8954e3.201998"]]},{"id":"309a2688.fbc0ba","type":"debug","z":"92e0141.93c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"da8954e3.201998","type":"function","z":"92e0141.93c04e8","name":"","func":"msg.payload=msg.payload.prediction[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["b493c4bd.4cf408","309a2688.fbc0ba"]]},{"id":"b493c4bd.4cf408","type":"ui_text","z":"92e0141.93c04e8","group":"6d9f349e.92355c","order":3,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":500,"wires":[]},{"id":"6d9f349e.92355c","type":"ui_group","z":"","name":"Default","tab":"825d5bce.565b48","order":1,"disp":true,"width":"6","collapse":false},{"id":"825d5bce.565b48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]